<div class="home">
    <!--<img class="logo" alt="Logo" src="..\assets\blur_on_FILL0_wght400_GRAD0_opsz48.svg">-->
    <box-icon name="atom" size="80px" animation="spin"></box-icon>
    <h1>Alex Govier</h1>
    <div class="links">
        <div class="link1"><a target="_blank" href="https://www.uottawa.ca/faculty-engineering/">University of Ottawa</a></div>
        <div class="link2">
            <a target="_blank" href="https://www.linkedin.com/in/alex-govier-3b3a43225/"><box-icon animation="tada-hover" size="3vw" type='logo' name='linkedin-square'></box-icon></a>
            <a target="_blank" href="https://www.instagram.com/alex.govier/"><box-icon animation="tada-hover" size="3vw" type='logo' name='instagram-alt'></box-icon></a>
            <a target="_blank" href="https://github.com/alex-govier5"><box-icon animation="tada-hover" size="3vw" type='logo' name='github'></box-icon></a>
            <a target="_blank" href="https://discordapp.com/users/554822054722142219"><box-icon animation="tada-hover" size="3vw" type='logo' name='discord-alt'></box-icon></a>
        </div>
        <div class="link3"><a target="_blank" href="https://www.tradingcentral.com/">Trading Central</a></div>
    </div>
    <hr>
</div>
